* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: 0;
}

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f9f9f9;
    background-color: #000;
    padding: 20px;
}

main {
    display: flex;
    background-color: #f5f5f5;
    flex: 1;
    align-items: flex-start;
}

main.workspaces {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    flex: 1;
    align-items: flex-start;
}

main.workspaces h2 {
    padding: 1rem;
}

.properties {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding: 1rem;
}
.properties strong {
    align-self: flex-end;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.properties a {
    padding: 0.5rem;
    border: 0;
    background-color: #000;
    color: #f9f9f9;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
}

.workspace {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding: 1rem;
    width: 100%;
}

.workspace strong {
    align-self: flex-end;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.workspace a {
    padding: 0.5rem;
    border: 0;
    background-color: #000;
    color: #f9f9f9;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
}

.coworking {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    width: 80%;
    margin: 0 auto;
}

.coworking img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.coworking label {
    margin-top: 1rem;
    font-weight: bold;
}

.coworking p {
    font-size: 1.25rem;
}

.coworking button {
    padding: 0.5rem;
    border: 0;
    background-color: #000;
    color: #f9f9f9;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #f9f9f9;
    background-color: gray;
    padding: 20px;
}
