* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --main-background: #eef0ebff;
    --font-color: #393939;
    --button-bg: #153243ff;
    --header-bg: #b4b8abff;
    --footer-bg: #284b63ff;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: var(--main-background);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--header-bg);
}

.container {
    max-width: 80vw;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    align-items: center;
    justify-content: center;
    height: 148px;
    margin: 0 auto;
}

.logo {
    height: 100%;
}

.header-container nav {
    flex: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    list-style: none;
}

.header-button {
    font-size: 14px;
    padding: 12px 16px;
    color: white;
    background-color: var(--button-bg);
    font-weight: bolder;
    border-radius: 16px;
}

li a {
    text-decoration: none;
}

main {
    flex: 1;
}

footer {
    background-color: var(--footer-bg);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    color: white;
}

.footer-logo {
    filter: invert(0.5);
    max-height: 148px;
}

.our-customers {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}
.our-customers h2 {
    font-size: inherit;
}

.separator {
    display: flex;
}

.separator::before {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 16px;
}

.customers-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    border-radius: 8px;
}

.customers-logo img {
    max-height: 48px;
}

.footer-link {
    padding: 12px 16px;
    font-size: 24px;
    color: white;
    font-weight: bolder;
    border-radius: 16px;
}
